@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}


@layer components {
  .inputField {
    @apply p-2 w-full outline-none focus:outline-none border border-gray-400
  }
}